<div class="menu flex justify-between bg-slate-100 items-center px-6 py-2">

     <div class="menu__img flex items-center">
          <img src="../../../assets/dp.png" alt="">
          <h2 class="ml-3 text-lg font-semibold text-gray-500 font-sans">Daniel Kalio</h2>
     </div>

     <div class="menu__items flex gap-9">
          <span class="menu__items--icon">
               <img src="../../../assets/audio-call.svg" alt="">
          </span>
          <span class="menu__items--icon">
               <img src="../../../assets/video-call.svg" alt="">
          </span>
          <span class="menu__items--icon">
               <img src="../../../assets/search.svg" alt="">
          </span>
          <span class="menu__items--icon">
               <img src="../../../assets/menu-vertical.svg" alt="">
          </span>
     </div>
     
</div>