<div class="flex justify-between items-center px-6 py-2"
[ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'bg-slate-800' : 'bg-gray-100'">

     <div class="menu__img">
          <img src="../../../assets/dp.png" alt="">
     </div>

     <div class="menu__items flex gap-9">
          <span class="menu__items--icon cursor-pointer">
               <img src="../../../assets/people.svg" alt="">
          </span>
          <span class="menu__items--icon cursor-pointer">
               <img src="../../../assets/status.svg" alt="">
          </span>
          <span class="menu__items--icon cursor-pointer">
               <img src="../../../assets/chat.svg" alt="">
          </span>
          <span class="menu__items--icon cursor-pointer" (click)="clickSetting()">
               <img src="../../../assets/menu-vertical.svg" alt="">
          </span>
     </div>
     
</div>