<div class="inbox__container h-screen container"
[ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'bg-slate-900' : ''"     
>
     <app-top-menu 
          (onClickSettingIcon)="openSetting($event)"
          *ngIf="!setting">
     </app-top-menu>
     <app-search 
          (onSearchingContact)="getSearchedName($event)"
          *ngIf="!setting"
          [selectedThemeMode]="selectedThemeMode">
     </app-search>

     <!-- list of chats are displaying -->
     <app-chat-list 
          (openChatClicked)="getClickedChat($event)" 
          [searchContactName]="searchedContactName"
          *ngIf="!setting"
          [selectedThemeMode]="selectedThemeMode">
     </app-chat-list>

     <!-- Setting Component -->
     <app-setting 
          *ngIf="setting" 
          (onClickCloseBtn)="closeSetting($event)"
          (onChangeMode)="changeMode($event)"
     ></app-setting>
</div>

