<div class="setting-body__container 
     max-h-[85vh] py-2 overflow-y-auto "
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'bg-gray-900' : 'bg-white'"
>

     <div class="setting-profile flex items-center p-4"
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'hover:bg-slate-700' : 'hover:bg-slate-100'">
          <img class="w-24 rounded-full" 
               src="../../../../assets/file.enc" 
               [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'text-white' : ''"
               alt="" />

          <div class="px-5">
               <h2 class="text-xl" 
               [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'text-white' : ''"
          >Ahmad Bin Waris</h2>
               <small class="text-base" 
                    [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'text-white' : ''"
               >Busy</small>
          </div>
     </div>

     <!-- Notification -->
     <div class="setting-option flex px-7 items-center"
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'hover:bg-slate-700' : 'hover:bg-slate-100'">
          <img class="w-4" src="../../../../assets/bell.svg" alt="">
          <h2 class="basis-full ml-7 
               py-4 text-lg border-b-2
               border-neutral-700"
               [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? ['text-white', 'border-neutral-700'] : 'border-neutral-100'"
               >Notifications</h2>
     </div>

     <!-- Privacy -->
     <div class="setting-option flex px-7 items-center"
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'hover:bg-slate-700' : 'hover:bg-slate-100'">
          <img class="w-4" src="../../../../assets/lock.svg" alt="">
          <h2 class="basis-full ml-7 py-4 text-lg border-b-2 border-neutral-200"
          [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? ['text-white', 'border-neutral-700'] : 'border-neutral-100'"
          >Privacy</h2>
     </div>

     <!-- Security -->
     <div class="setting-option flex px-7 items-center"
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'hover:bg-slate-700' : 'hover:bg-slate-100'">
          <img class="w-4" src="../../../../assets/security.svg" alt="">
          <h2 class="basis-full ml-7 py-4 text-lg border-b-2 border-neutral-200"
          [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? ['text-white', 'border-neutral-700'] : 'border-neutral-100'"
          >Security</h2>
     </div>

     <!-- Theme -->
     <div class="cursor-pointer flex px-7 items-center"
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'hover:bg-slate-700' : 'hover:bg-slate-100'"
          (click)="popUp = true">
          <img class="w-4" src="../../../../assets/theme.svg" alt="">
          <h2 class="basis-full ml-7 py-4 text-lg border-b-2 border-neutral-200"
          [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? ['text-white', 'border-neutral-700'] : 'border-neutral-100'"
          >Theme</h2>
     </div>

     <!-- Wallpapper -->
     <div class="setting-option flex px-7 items-center"
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'hover:bg-slate-700' : 'hover:bg-slate-100'">
          <img class="w-4" src="../../../../assets/chat-wallpapper.svg" alt="">
          <h2 class="basis-full ml-7 py-4 text-lg border-b-2 border-neutral-200"
               [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? ['text-white', 'border-neutral-700'] : 'border-neutral-100'"
          >Chat Wallpapper</h2>
     </div>

     <!-- Media Auto Download -->
     <div class="setting-option flex px-7 items-center "
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'hover:bg-slate-700' : 'hover:bg-slate-100'">
          <img class="w-4" src="../../../../assets/download.svg" alt="">
          <h2 class="basis-full ml-7 py-4 text-lg border-b-2 border-neutral-200"
          [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? ['text-white', 'border-neutral-700'] : 'border-neutral-100'">Media auto-download</h2>
     </div>

     <!-- Request account info -->
     <div class="setting-option flex px-7 items-center"
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'hover:bg-slate-700' : 'hover:bg-slate-100'">
          <img class="w-4" src="../../../../assets/help.svg" alt="">
          <h2 class="basis-full ml-7 py-4 text-lg border-b-2 border-neutral-200"
          [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? ['text-white', 'border-neutral-700'] : 'border-neutral-100'">Request account info</h2>
     </div>

     <!-- Keyboard shortcuts -->
     <div class="setting-option flex px-7 items-center"
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'hover:bg-slate-700' : 'hover:bg-slate-100'">
          <img class="w-4" src="../../../../assets/shortcuts.svg" alt="">
          <h2 class="basis-full ml-7 py-4 text-lg border-b-2 border-neutral-200"
          [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? ['text-white', 'border-neutral-700'] : 'border-neutral-100'">Keyboard shortcuts</h2>
     </div>

     <!-- Help -->
     <div class="setting-option flex px-7 items-center"
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'hover:bg-slate-700' : 'hover:bg-slate-100'">
          <img class="w-4" src="../../../../assets/help.svg" alt="">
          <h2 class="basis-full ml-7 py-4 text-lg border-b-2 border-neutral-200"
          [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? ['text-white', 'border-neutral-700'] : 'border-neutral-100'">Help</h2>
     </div>
</div>

<app-theme-mode *ngIf="popUp" 
     (onClosePopUp)="cancelPopUp($event)"
     (onChangeMode)="changeMode($event)"
></app-theme-mode>