<div class="text-field flex items-center p-5 px-6 top"
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'bg-slate-800' : 'bg-gray-200'"
>
     <div class="emoji mx-4">
          <img src="../../../assets/emoji.svg" alt="">
     </div>

     <div class="attachment mx-4">
          <img src="../../../assets/attachment.svg" alt="">
     </div>
          
     <div class="message-input mx-4 flex items-center w-11/12 pr-2 relative">
          <img class="absolute left-5" src="../../../assets/camera.svg" alt="">
          <input 
               type="text" 
               placeholder="Type a message"
               class="py-3 rounded-xl px-5 pl-14 outline-0 w-full" 
               [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'bg-slate-700' : ''"
          />
     </div>

     <div class="mic mx-2">
          <img src="../../../assets/mic.svg" alt="">
     </div>
</div>