<div class="userCard flex 
          px-5 pl-6 
          justify-between 
          items-center cursor-pointer
          hover:bg-slate-200"
     [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? ['bg-slate-900', 'hover:bg-slate-700'] : 'hover:bg-slate-100' "
>
          <img class="h-12 w-12 rounded-full" [src]="person.image" alt="">
     
          <div class="userCard__info w-5/6 font-sans justify-between border-b-2 py-4 pl-2"
               [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? 'border-b-slate-800' : '' "
          >
               <div class="info__personal--info flex justify-between">
                    <h2 class="font-semibold text-lg"
                         [ngClass]="(selectedThemeMode === 'dark' || getLocalStorage === 'dark') ? ['text-white'] : 'text-gray-500' "
                    >{{ person.name }}</h2>
                    <p class="text-gray-600 font-semibold pl-2">{{ person.lastMessage.messageTime }}</p>
               </div>
     
               <div class="info__time">
                    <p class="text-gray-500">{{ (person.allMessages[person.allMessages.length - 1].messageText.length < 40) ? person.allMessages[person.allMessages.length - 1].messageText.slice(0, 40) : person.allMessages[person.allMessages.length - 1].messageText.slice(0, 40) + '...' }}</p>
               </div>
          </div>
     </div>